body {
  margin: 0;

  background: url("https://phonoteka.org/uploads/posts/2021-03/1616367277_17-p-fon-dlya-saita-18.jpg")
    center center/cover no-repeat;

  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
